# PANDAS

## Pandas Introduction
What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

## Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

Data Science: is a branch of computer science where we study how to store, use and 
    analyze data for deriving information from it.

## What Can Pandas Do?
Pandas gives you answers about the data. Like:

Is there a correlation between two or more columns?
What is average value?
Max value?
Min value?
Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

##  Where is the Pandas Codebase?
The source code for Pandas is located at this github repository https://github.com/pandas-dev/pandas
github: enables many people to work on the same codebase.

## IMPORTING PANDAS

In [1]:
import pandas

In [2]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

## Pandas as pd
Pandas is usually imported under the pd alias.

alias: In Python alias are an alternate name for referring to the same thing.

Create an alias with the as keyword while importing:

In [3]:
import pandas as pd

In [4]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

### Checking Pandas Version
The version string is stored under __version__ attribute.

In [5]:
print(pd.__version__)

1.4.4

## Pandas Series
What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

ExampleGet your own Python Server
Create a simple Pandas Series from a list:

In [6]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

## Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.
This label can be used to access a specified value.
Return the first value of the Series:

In [7]:
print(myvar[0])

1

## Create Labels
With the index argument, you can name your own labels.

Create your own labels:

In [9]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)
# When you have created labels, you can access an item by referring to the label.


# Return the value of "y":

print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

### Complete the Pandas modules, do the exercises, take the exam, and you will become w3schools certified!

Key/Value Objects as Series
You can also use a key/value object, like a dictionary, when creating a Series.

ExampleGet your own Python Server
Create a simple Pandas Series from a dictionary:

In [10]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

#### Note: The keys of the dictionary become the labels.

To select only some of the items in the dictionary, use the index argument and 
specify only the items you want to include in the Series.

In [11]:
# Create a Series using only data from "day1" and "day2":

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

## DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

Create a DataFrame from two Series:

In [5]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

## Pandas DataFrames
### What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [6]:
import pandas as pd
#load data into a DataFrame object:
df = pd.DataFrame(myvar)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

### Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.
Pandas use the loc attribute to return one or more specified row(s)
Return row 0:

In [ ]:
# Return row 0 and 1:
#use a list of indexes:
X=df.loc[[1]]
PRINT(X)

## Named Indexes
With the index argument, you can name your own indexes.
Add a list of names to give each row a name:

In [7]:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

# Load Files Into a DataFrame
# If your data sets are stored in a file, Pandas can load them into a DataFrame.

In [35]:
# Use the named index in the loc attribute to return the specified row(s).
# Return "day2":
#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [51]:
## Load a comma separated file (CSV file) into a DataFrame:

data_path=['DATA']
# df = pd.read_csv('seattle-weather.csv')
# print(df) 
filepath=os.sep.join(data_path+['Salary Data.csv'])
print(filepath)

DATA\Salary Data.csv

## Pandas Read CSV
### Read CSV Files
A simple way to store big data sets is to use CSV files (comma separated files).
CSV files contains plain text and is a well know format that can be read by everyone including Pandas.
In our examples we will be using a CSV file called 'data.csv'.
Download data.csv. or Open data.csv

In [52]:
# Load the CSV into a DataFrame:
df = pd.read_csv(filepath)
print(df.to_string()) 
# # Tip: use to_string() to print the entire DataFrame.
# If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows:

     Age  Gender Education Level                              Job Title  Years of Experience  Salary
0     32    Male      Bachelor's                      Software Engineer                  5.0   90000
1     28  Female        Master's                           Data Analyst                  3.0   65000
2     45    Male             PhD                         Senior Manager                 15.0  150000
3     36  Female      Bachelor's                        Sales Associate                  7.0   60000
4     52    Male        Master's                               Director                 20.0  200000
5     29    Male      Bachelor's                      Marketing Analyst                  2.0   55000
6     42  Female        Master's                        Product Manager                 12.0  120000
7     31    Male      Bachelor's                          Sales Manager                  4.0   80000
8     26  Female      Bachelor's                  Marketing Coordinator                  1.0   45000
9     38    Male             PhD                       Senior Scientist                 10.0  110000
10    29    Male        Master's                     Software Developer                  3.0   75000
11    48  Female      Bachelor's                             HR Manager                 18.0  140000
12    35    Male      Bachelor's                      Financial Analyst                  6.0   65000
13    40  Female        Master's                        Project Manager                 14.0  130000
14    27    Male      Bachelor's                   Customer Service Rep                  2.0   40000
15    44    Male      Bachelor's                     Operations Manager                 16.0  125000
16    33  Female        Master's                      Marketing Manager                  7.0   90000
17    39    Male             PhD                        Senior Engineer                 12.0  115000
18    25  Female      Bachelor's                       Data Entry Clerk                  0.0   35000
19    51    Male      Bachelor's                         Sales Director                 22.0  180000
20    34  Female        Master's                       Business Analyst                  5.0   80000
21    47    Male        Master's                       VP of Operations                 19.0  190000
22    30    Male      Bachelor's                             IT Support                  2.0   50000
23    36  Female      Bachelor's                              Recruiter                  9.0   60000
24    41    Male        Master's                      Financial Manager                 13.0  140000
25    28  Female      Bachelor's                Social Media Specialist                  3.0   45000
26    37  Female        Master's                       Software Manager                 11.0  110000
27    24    Male      Bachelor's                       Junior Developer                  1.0   40000
28    43  Female             PhD                      Senior Consultant                 15.0  140000
29    33    Male        Master's                       Product Designer                  6.0   90000
30    50    Male      Bachelor's                                    CEO                 25.0  250000
31    31  Female      Bachelor's                             Accountant                  4.0   55000
32    29    Male        Master's                         Data Scientist                  3.0   75000
33    39  Female      Bachelor's                   Marketing Specialist                 10.0   65000
34    46    Male             PhD                         Senior Manager                 20.0  170000
35    27    Male      Bachelor's                       Technical Writer                  2.0   45000
36    35  Female      Bachelor's                          HR Generalist                  7.0   60000
37    42    Male        Master's                       Project Engineer                 14.0  115000
38    26  Female      Bachelor's                   Customer Success Rep                  1.0   40000
39    49    Male      Bachelor's                        Sales Executive                 21.0  160000
40    34  Female        Master's                            UX Designer                  5.0   80000
41    48    Male        Master's                    Operations Director                 18.0  190000
42    30    Male      Bachelor's                       Network Engineer                  3.0   60000
43    36  Female      Bachelor's               Administrative Assistant                  8.0   45000
44    41    Male        Master's                    Strategy Consultant                 13.0  130000
45    28  Female      Bachelor's                             Copywriter                  2.0   40000
46    32    Male      Bachelor's                        Account Manager                  5.0   75000
47    45  Female        Master's                  Director of Marketing                 16.0  180000
48    38    Male             PhD                       Senior Scientist                 11.0  120000
49    25    Male      Bachelor's                      Help Desk Analyst                  0.0   35000
50    51  Female      Bachelor's               Customer Service Manager                 22.0  130000
51    33    Male        Master's          Business Intelligence Analyst                  7.0   85000
52    40  Female      Bachelor's                      Event Coordinator                 12.0   60000
53    47    Male        Master's                          VP of Finance                 19.0  200000
54    29  Female      Bachelor's                       Graphic Designer                  3.0   50000
55    36    Male      Bachelor's                          Sales Manager                  9.0   95000
56    27  Female        Master's                          UX Researcher                  2.0   65000
57    43    Male             PhD                        Senior Engineer                 17.0  140000
58    30  Female      Bachelor's                   Social Media Manager                  4.0   55000
59    35    Male        Master's                        Product Manager                  7.0  105000
60    51  Female        Master's                 Director of Operations                 23.0  170000
61    29    Male      Bachelor's                      Marketing Analyst                  3.0   50000
62    40  Female      Bachelor's                             HR Manager                 12.0   80000
63    47    Male             PhD                  Senior Data Scientist                 21.0  180000
64    26    Male      Bachelor's                      Junior Accountant                  1.0   35000
65    38  Female        Master's              Digital Marketing Manager                 10.0   90000
66    46    Male      Bachelor's                             IT Manager                 19.0  120000
67    31  Female      Bachelor's        Customer Service Representative                  5.0   45000
68    34    Male        Master's           Business Development Manager                  8.0   90000
69    49  Female        Master's               Senior Financial Analyst                 18.0  150000
70    33    Male      Bachelor's                          Web Developer                  6.0   65000
71    39  Female      Bachelor's                              Recruiter                 11.0   70000
72    45    Male             PhD                      Research Director                 16.0  190000
73    28    Male      Bachelor's           Technical Support Specialist                  2.0   40000
74    42  Female        Master's                      Creative Director                 14.0  120000
75    37    Male      Bachelor's                        Project Manager                 10.0   95000
76    50  Female      Bachelor's                     Operations Manager                 22.0  160000
77    32    Male        Master's               Senior Software Engineer                  6.0  100000
78    48  Female        Master's               Human Resources Director                 20.0  180000
79    30  Female      Bachelor's              Content Marketing Manager                  3.0   55000
80    36    Male      Bachelor's                    Technical Recruiter                  8.0   70000
81    41  Female        Master's                           Data Analyst                 13.0   80000
82    25    Male      Bachelor's                   Sales Representative                  0.0   30000
83    52    Male             PhD               Chief Technology Officer                 24.0  250000
84    29  Female      Bachelor's                        Junior Designer                  2.0   40000
85    34  Female        Master's                      Financial Advisor                 10.0   95000
86    27    Male      Bachelor's                 Junior Account Manager                  2.0   45000
87    40  Female      Bachelor's                          HR Generalist                 15.0   80000
88    46    Male        Master's                 Senior Project Manager                 21.0  135000
89    31  Female      Bachelor's                  Marketing Coordinator                  6.0   55000
90    36    Male             PhD                    Principal Scientist                 11.0  120000
91    29  Female      Bachelor's                        Sales Associate                  3.0   40000
92    43    Male      Bachelor's                   Supply Chain Manager                 18.0  105000
93    52  Female        Master's               Senior Marketing Manager                 25.0  170000
94    33    Male      Bachelor's                       Business Analyst                  7.0   75000
95    39  Female      Bachelor's                    Training Specialist                 12.0   65000
96    47    Male             PhD                     Research Scientist                 22.0  160000
97    26    Male      Bachelor's              Junior Software Developer                  1.0   35000
98    38  Female        Master's               Public Relations Manager                 10.0   90000
99    45    Male      Bachelor's                     Operations Analyst                 20.0  110000
100   31  Female      Bachelor's                      Event Coordinator                  5.0   45000
101   35    Male        Master's              Product Marketing Manager                  8.0   95000
102   49  Female        Master's                      Senior HR Manager                 19.0  150000
103   33    Male      Bachelor's                   Junior Web Developer                  5.0   50000
104   39  Female        Master's             Senior Project Coordinator                 13.0   80000
105   44    Male             PhD                     Chief Data Officer                 16.0  220000
106   30  Female      Bachelor's               Digital Content Producer                  3.0   50000
107   36    Male      Bachelor's                  IT Support Specialist                  7.0   60000
108   41  Female        Master's               Senior Marketing Analyst                 14.0  100000
109   28    Male      Bachelor's               Customer Success Manager                  2.0   40000
110   42  Female        Master's                Senior Graphic Designer                 15.0  110000
111   37    Male      Bachelor's               Software Project Manager                  9.0   95000
112   50  Female      Bachelor's                   Supply Chain Analyst                 22.0  130000
113   32    Male        Master's                Senior Business Analyst                  6.0   90000
114   23  Female      Bachelor's               Junior Marketing Analyst                  0.5   35000
115   31    Male        Master's               Senior Financial Analyst                  6.0   95000
116   40  Female      Bachelor's                         Office Manager                 15.0   65000
117   48    Male             PhD                     Principal Engineer                 20.0  170000
118   29  Female      Bachelor's                   Junior HR Generalist                  3.0   45000
119   35    Male        Master's                 Senior Product Manager                 10.0  120000
120   42  Female      Bachelor's                          Sales Manager                 17.0  100000
121   53    Male        Master's                  Director of Marketing                 25.0  180000
122   33  Female      Bachelor's              Junior Operations Analyst                  5.0   50000
123   38    Male      Bachelor's               Customer Service Manager                 11.0   80000
124   44  Female             PhD                       Senior Scientist                 16.0  140000
125   26    Male      Bachelor's                      Junior Accountant                  2.0   40000
126   37  Female        Master's                   Senior HR Generalist                  9.0   95000
127   45    Male      Bachelor's               Sales Operations Manager                 18.0  110000
128   32  Female      Bachelor's                  Marketing Coordinator                  4.0   50000
129   34    Male        Master's              Senior Software Developer                  8.0  105000
130   50  Female        Master's                 Director of Operations                 21.0  160000
131   29    Male      Bachelor's                    Junior Web Designer                  3.0   45000
132   40  Female        Master's             Senior Training Specialist                 12.0  100000
133   47    Male             PhD              Senior Research Scientist                 22.0  160000
134   27    Male      Bachelor's            Junior Sales Representative                  1.0   35000
135   39  Female      Bachelor's               Administrative Assistant                 10.0   55000
136   46    Male        Master's                 Senior Project Manager                 19.0  140000
137   30  Female      Bachelor's               Junior Marketing Manager                  4.0   50000
138   36    Male      Bachelor's                    Junior Data Analyst                  7.0   60000
139   43  Female        Master's       Senior Product Marketing Manager                 14.0  120000
140   28    Male      Bachelor's                Junior Business Analyst                  2.0   40000
141   41  Female        Master's               Senior Marketing Manager                 13.0  110000
142   33    Male      Bachelor's              Junior Software Developer                  5.0   50000
143   47    Male      Bachelor's                   Senior Sales Manager                 20.0  135000
144   25  Female        Master's            Junior Marketing Specialist                  1.5   40000
145   34    Male      Bachelor's                Senior Business Analyst                  8.0   90000
146   42  Female             PhD                  Senior Data Scientist                 16.0  150000
147   31    Male      Bachelor's                 Junior Project Manager                  4.0   60000
148   38  Female      Bachelor's                      Senior Accountant                 10.0   80000
149   45    Male        Master's                      Director of Sales                 19.0  175000
150   29  Female      Bachelor's                       Junior Recruiter                  3.0   45000
151   36    Male        Master's    Senior Business Development Manager                 11.0  120000
152   43  Female             PhD                Senior Product Designer                 18.0  140000
153   26    Male      Bachelor's     Junior Customer Support Specialist                  2.0   35000
154   37  Female        Master's               Senior Marketing Analyst                  9.0   95000
155   44    Male      Bachelor's           Senior IT Support Specialist                 14.0  110000
156   32  Female      Bachelor's               Junior Financial Analyst                  5.0   50000
157   33    Male        Master's              Senior Operations Manager                  7.0  115000
158   51  Female             PhD            Director of Human Resources                 23.0  185000
159   28    Male      Bachelor's               Junior Software Engineer                  2.0   40000
160   39  Female      Bachelor's            Senior Sales Representative                 12.0   90000
161   48    Male        Master's         Director of Product Management                 21.0  175000
162   30  Female      Bachelor's                      Junior Copywriter                  3.0   45000
163   35    Male      Bachelor's           Senior Marketing Coordinator                  7.0   80000
164   41  Female        Master's         Senior Human Resources Manager                 13.0  120000
165   27    Male      Bachelor's  Junior Business Development Associate                  1.5   35000
166   40  Female      Bachelor's                 Senior Account Manager                 14.0  110000
167   46    Male             PhD                      Senior Researcher                 18.0  150000
168   31  Female      Bachelor's                  Junior HR Coordinator                  4.0   50000
169   34    Male        Master's               Senior Software Engineer                  9.0  105000
170   50  Female        Master's                    Director of Finance                 20.0  180000
171   29    Male      Bachelor's           Junior Marketing Coordinator                  2.0   40000
172   43    Male      Bachelor's                 Senior Project Manager                 16.0  140000
173   26  Female        Master's                  Junior Data Scientist                  1.5   45000
174   35    Male      Bachelor's              Senior Operations Analyst                  7.0   85000
175   42  Female             PhD               Senior Marketing Manager                 18.0  140000
176   31    Male      Bachelor's                      Junior Accountant                  4.0   50000
177   38  Female      Bachelor's     Senior Human Resources Coordinator                 10.0   80000
178   46    Male        Master's                 Director of Operations                 20.0  170000
179   29  Female      Bachelor's            Junior Sales Representative                  2.0   40000
180   37    Male        Master's                Senior Business Analyst                  9.0  105000
181   44  Female             PhD                     Senior UX Designer                 15.0  145000
182   27    Male      Bachelor's                 Junior Product Manager                  2.0   40000
183   36  Female      Bachelor's            Senior Marketing Specialist                  8.0   85000
184   43    Male      Bachelor's              Senior IT Project Manager                 14.0  130000
185   33  Female        Master's               Senior Financial Analyst                  6.0   95000
186   34    Male      Bachelor's       Senior Quality Assurance Analyst                  9.0  100000
187   50  Female             PhD        Director of Sales and Marketing                 22.0  180000
188   28    Male      Bachelor's              Junior Operations Analyst                  1.5   35000
189   39  Female      Bachelor's               Senior Account Executive                 12.0   95000
190   47    Male        Master's       Director of Business Development                 19.0  170000
191   30  Female      Bachelor's            Junior Social Media Manager                  3.0   45000
192   34    Male      Bachelor's                 Senior Product Manager                  7.0   95000
193   40  Female        Master's      Senior Human Resources Specialist                 13.0  120000
194   28    Male      Bachelor's                Junior Business Analyst                  2.0   40000
195   41  Female      Bachelor's           Senior Marketing Coordinator                 11.0   90000
196   45    Male             PhD                    Senior Data Analyst                 17.0  155000

In [55]:
# Print the DataFrame without the to_string() method:
df = pd.read_csv(filepath)
print(df)

     Age  Gender Education Level                      Job Title  \
0     32    Male      Bachelor's              Software Engineer
1     28  Female        Master's                   Data Analyst
2     45    Male             PhD                 Senior Manager
3     36  Female      Bachelor's                Sales Associate
4     52    Male        Master's                       Director
..   ...     ...             ...                            ...
368   35  Female      Bachelor's       Senior Marketing Analyst
369   43    Male        Master's         Director of Operations
370   29  Female      Bachelor's         Junior Project Manager
371   34    Male      Bachelor's  Senior Operations Coordinator
372   44  Female             PhD        Senior Business Analyst

     Years of Experience  Salary
0                    5.0   90000
1                    3.0   65000
2                   15.0  150000
3                    7.0   60000
4                   20.0  200000
..                   ...     ...
368                  8.0   85000
369                 19.0  170000
370                  2.0   40000
371                  7.0   90000
372                 15.0  150000

[373 rows x 6 columns]

## max_rows
The number of rows returned is defined in Pandas option settings.
You can check your system's maximum rows with the pd.options.display.max_rows statement.

In [56]:
# Check the number of maximum returned rows:
print(pd.options.display.max_rows)

60

In my system the number is 60, which means that if the DataFrame contains more than 60 rows,
the print(df) statement will return only the headers and the first and last 5 rows.

You can change the maximum rows number with the same statement.

## Pandas Read JSON
### Read JSON
Big data sets are often stored, or extracted as JSON.
JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

In our examples we will be using a JSON file called 'data.json'.

Open data.json.

ExampleGet your own Python Server
Load the JSON file into a DataFrame:

In [57]:
df = pd.read_json('data.json')

print(df.to_string()) 
# Tip: use to_string() to print the entire DataFrame.

## Dictionary as JSON
JSON = Python Dictionary

JSON objects have the same format as Python dictionaries.

If your JSON code is not in a file, but in a Python Dictionary, you can load it into a DataFrame directly:

In [58]:
# Load a Python Dictionary into a DataFrame:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}
df = pd.DataFrame(data)
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

## Pandas - Analyzing DataFrames
### Viewing the Data
One of the most used method for getting a quick overview of the DataFrame, is the head() method.
The head() method returns the headers and a specified number of rows, starting from the top.
Get a quick overview by printing the first 10 rows of the DataFrame:

In [59]:
df = pd.read_csv(filepath)

print(df.head(10))

   Age  Gender Education Level              Job Title  Years of Experience  \
0   32    Male      Bachelor's      Software Engineer                  5.0
1   28  Female        Master's           Data Analyst                  3.0
2   45    Male             PhD         Senior Manager                 15.0
3   36  Female      Bachelor's        Sales Associate                  7.0
4   52    Male        Master's               Director                 20.0
5   29    Male      Bachelor's      Marketing Analyst                  2.0
6   42  Female        Master's        Product Manager                 12.0
7   31    Male      Bachelor's          Sales Manager                  4.0
8   26  Female      Bachelor's  Marketing Coordinator                  1.0
9   38    Male             PhD       Senior Scientist                 10.0

   Salary
0   90000
1   65000
2  150000
3   60000
4  200000
5   55000
6  120000
7   80000
8   45000
9  110000

In our examples we will be using a CSV file called 'data.csv'.

Download data.csv, or open data.csv in your browser.

Note: if the number of rows is not specified, the head() method will return the top 5 rows.

In [60]:
# Print the first 5 rows of the DataFrame:

import pandas as pd

df = pd.read_csv(filepath)

print(df.head())

   Age  Gender Education Level          Job Title  Years of Experience  Salary
0   32    Male      Bachelor's  Software Engineer                  5.0   90000
1   28  Female        Master's       Data Analyst                  3.0   65000
2   45    Male             PhD     Senior Manager                 15.0  150000
3   36  Female      Bachelor's    Sales Associate                  7.0   60000
4   52    Male        Master's           Director                 20.0  200000

##### There is also a tail() method for viewing the last rows of the DataFrame.

The tail() method returns the headers and a specified number of rows, starting from the bottom.

In [61]:
# Print the last 5 rows of the DataFrame:
print(df.tail())

     Age  Gender Education Level                      Job Title  \
368   35  Female      Bachelor's       Senior Marketing Analyst
369   43    Male        Master's         Director of Operations
370   29  Female      Bachelor's         Junior Project Manager
371   34    Male      Bachelor's  Senior Operations Coordinator
372   44  Female             PhD        Senior Business Analyst

     Years of Experience  Salary
368                  8.0   85000
369                 19.0  170000
370                  2.0   40000
371                  7.0   90000
372                 15.0  150000

In [62]:
# Info About the Data
# The DataFrames object has a method called info(), that gives you more information about the data set.
# Print information about the data:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    int64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 17.6+ KB
None

### Null Values
The info() method also tells us how many Non-Null values there are present in each column, and in our data set it seems like there are 164 of 169 Non-Null values in the "Calories" column.

Which means that there are 5 rows with no value at all, in the "Calories" column, for whatever reason.

Empty values, or Null values, can be bad when analyzing data, and you should consider removing rows with empty values. This is a step towards what is called cleaning data, and you will learn more about that in the next chapters.